<div class="main-wrapper">
  <div class="container">
    <div class="inner-wrapper">
        <div class="main-title">
          <h1>PAC Asia CRM</h1>
        </div>
      <div class="parameters">
        <form>
          <div class="row">
            <div class="col">
              <label for="name">Name</label>
              <input type="text" class="form-control" placeholder="Visitors name">
            </div>
            <div class="col">
              <label for="name">Qualification</label>
              <input type="text" class="form-control" placeholder="Visitors qualification">
            </div>
            <div class="col">
              <label for="inputState">Subject</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Study in Australia</option>
                  <option>Study in Norway</option>
                </select>
            </div>
            <div class="col-md-1">
              <label style="display: block;">&nbsp;</label>
              <button class="btn btn-block search-btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </div> 
      <div class="search clearfix">
        <h1>Consultees</h1>
        <form class="search-field">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="consulting-personnel">
        <div class="row">
          <div class="col-md-6">
            <div class="personnel">
             <div class="row">
               <div class="col-md-4">
                 <div class="img-box">
                   <img src="../../assets/img/pot.jpg" alt="">
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="info">
                   <h1>John Doe</h1>
                   <h2>Short info about the person</h2>
                   <h3>Available : <span>Yes</span></h3>
                   <button class="btn assign-btn">Assign</button>
                 </div>
               </div>
             </div>
             <div class="detail">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="personnel">
             <div class="row">
               <div class="col-md-4">
                 <div class="img-box">
                   <img src="../../assets/img/pot2.jpg" alt="">
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="info">
                   <h1>John Doe</h1>
                   <h2>Short info about the person</h2>
                   <h3>Available : <span>Yes</span></h3>
                   <button class="btn assign-btn">Assign</button>
                 </div>
               </div>
             </div>
             <div class="detail">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="personnel">
             <div class="row">
               <div class="col-md-4">
                 <div class="img-box">
                   <img src="../../assets/img/pot3.jpg" alt="">
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="info">
                   <h1>John Doe</h1>
                   <h2>Short info about the person</h2>
                   <h3>Available : <span>No</span></h3>
                   <button class="btn assign-btn">Assign</button>
                 </div>
               </div>
             </div>
             <div class="detail">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="personnel">
             <div class="row">
               <div class="col-md-4">
                 <div class="img-box">
                   <img src="../../assets/img/pot4.jpg" alt="">
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="info">
                   <h1>John Doe</h1>
                   <h2>Short info about the person</h2>
                   <h3>Available : <span>No</span></h3>
                   <button class="btn assign-btn">Assign</button>
                 </div>
               </div>
             </div>
             <div class="detail">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="personnel">
             <div class="row">
               <div class="col-md-4">
                 <div class="img-box">
                   <img src="../../assets/img/pot5.jpg" alt="">
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="info">
                   <h1>John Doe</h1>
                   <h2>Short info about the person</h2>
                   <h3>Available : <span>Yes</span></h3>
                   <button class="btn assign-btn">Assign</button>
                 </div>
               </div>
             </div>
             <div class="detail">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="personnel">
             <div class="row">
               <div class="col-md-4">
                 <div class="img-box">
                   <img src="../../assets/img/pot6.jpg" alt="">
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="info">
                   <h1>John Doe</h1>
                   <h2>Short info about the person</h2>
                   <h3>Available : <span>Yes</span></h3>
                   <button class="btn assign-btn">Assign</button>
                 </div>
               </div>
             </div>
             <div class="detail">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="personnel">
             <div class="row">
               <div class="col-md-4">
                 <div class="img-box">
                   <img src="../../assets/img/pot6.jpg" alt="">
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="info">
                   <h1>John Doe</h1>
                   <h2>Short info about the person</h2>
                   <h3>Available : <span>No</span></h3>
                   <button class="btn assign-btn">Assign</button>
                 </div>
               </div>
             </div>
             <div class="detail">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
